<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Games Loja
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container"> 
    <div class="row">

      <div class="col-md-5">
        <ion-card>
          <img src="assets/fps/csgo.jpg" alt="CSGO logo" title="CSGO" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <ion-button color="success">Veja mais</ion-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>

        <ion-card>
          <img src="assets/fps/doom.jpg" alt="DOOM logo" title="DOOM" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <ion-button color="success">Veja mais</ion-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
      </div>
        
      <div class="col-md-5">
        <ion-card>
          <img src="assets/fps/codblackops2.jpg" alt="CALL OF DUTY BLACK OPS 2 logo" title="CALL OF DUTY BLACK OPS 2" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <ion-button color="success">Veja mais</ion-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
        
        <ion-card>
          <img src="assets/fps/battlefield.jpg" alt="BATTLE FIELD 4 logo" title="BATTLE FIELD 4" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <ion-button color="success">Veja mais</ion-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
      </div>
  
      <div class="col-md-5">
        <ion-card>
          <img src="assets/fps/halo5.jpg" alt="HALO 5 logo" title="HALO 5" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <ion-button color="success">Veja mais</ion-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
        
        <ion-card>
            <img src="assets/fps/destiny.jpg" alt="DESTINY logo" title="DESTINY" class="tamImage img-fluid">
            <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <ion-button color="success">Veja mais</ion-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
      </div>
  
      <div class="col-md-5">
        <ion-card>
          <img src="assets/fps/overwatch.jpg" alt="OVERWHATCH logo" title="OVERWHATCH" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <ion-button color="success">Veja mais</ion-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
        
        <ion-card>
          <img src="assets/fps/apex.png" alt="APEX logo" title="APEX" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <ion-button color="success">Veja mais</ion-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
