<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Games Loja
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container"> 
    <div class="row">

      <div class="col-md-5">
        <ion-card>
          <img src="assets/mmorpg/wow.jpg" alt="WOW logo" title="WORLD OF WARCRAFT" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <a href="https://worldofwarcraft.com/en-us/"><ion-button color="success">Veja mais</ion-button></a>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>

        <ion-card>
          <img src="assets/mmorpg/tera.jpg" alt="TERA logo" title="TERA" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <a href="http://tera.enmasse.com/"><ion-button color="success">Veja mais</ion-button></a>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
      </div>
        
      <div class="col-md-5">
        <ion-card>
          <img src="assets/mmorpg/neverwinter.png" alt="NEVER WINTER logo" title="NEVER WINTER" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <a href="https://www.arcgames.com/en/games/neverwinter"><ion-button color="success">Veja mais</ion-button></a>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
        
        <ion-card>
          <img src="assets/mmorpg/tibia.jpg" alt="TIBIA logo" title="TIBIA" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <a href="https://www.tibia.com/news/?subtopic=latestnews"><ion-button color="success">Veja mais</ion-button></a>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
      </div>
  
      <div class="col-md-5">
        <ion-card>
          <img src="assets/mmorpg/blackdesert.jpg" alt="BLACK DESERT logo" title="BLACK DESERT" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <a href="https://blackdesert.playredfox.com/black_desert"><ion-button color="success">Veja mais</ion-button></a>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
        
        <ion-card>
            <img src="assets/mmorpg/pw.png" alt="PERFECT WORLD logo" title="PERFECT WORLD" class="tamImage img-fluid">
            <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <a href="https://perfectworld.uol.com.br/"><ion-button color="success">Veja mais</ion-button></a>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
      </div>
  
      <div class="col-md-5">
        <ion-card>
          <img src="assets/mmorpg/ragnarok.jpg" alt="RAGNAROK  logo" title="RAGNAROK " class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <a href="https://playragnarokonlinebr.com/"><ion-button color="success">Veja mais</ion-button></a>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
        
        <ion-card>
          <img src="assets/mmorpg/AQW.png" alt="ADVENTURE QUEST WOLRD logo" title="ADVENTURE QUEST WOLRD" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <a href="https://www.aq.com/"><ion-button color="success">Veja mais</ion-button></a>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
