<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Games Loja
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container"> 
    <div class="row">

      <div class="col-md-5">
        <ion-card>
          <img src="assets/action_adventure/darksouls3.jpg" alt=" logo" title="" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <ion-button color="success">Veja mais</ion-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>

        <ion-card>
          <img src="assets/action_adventure/daysgone.jpg" alt=" logo" title="" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <ion-button color="success">Veja mais</ion-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
      </div>
        
      <div class="col-md-5">
        <ion-card>
          <img src="assets/action_adventure/farcry5.jpg" alt="      logo" title=" " class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <ion-button color="success">Veja mais</ion-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
        
        <ion-card>
          <img src="assets/action_adventure/gta5.jpg" alt="   logo" title="  " class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <ion-button color="success">Veja mais</ion-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
      </div>
  
      <div class="col-md-5">
        <ion-card>
          <img src="assets/action_adventure/horizonzerodanw.jpg" alt="  logo" title=" " class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <ion-button color="success">Veja mais</ion-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
        
        <ion-card>
            <img src="assets/action_adventure/reddead2.jpg" alt=" logo" title="" class="tamImage img-fluid">
            <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <ion-button color="success">Veja mais</ion-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
      </div>
  
      <div class="col-md-5">
        <ion-card>
          <img src="assets/action_adventure/thewitcher3.jpg" alt=" logo" title="" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <ion-button color="success">Veja mais</ion-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
        
        <ion-card>
          <img src="assets/action_adventure/assassinscreed3.jpg" alt=" logo" title="" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <ion-button color="success">Veja mais</ion-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
