<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Games Loja
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container"> 
    <div class="row">

      <div class="col-md-5">
        <ion-card>
          <img src="assets/action_adventure/darksouls3.jpg" alt="DARK SOULS 3 logo" title="DARK SOULS III" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <a href="https://store.steampowered.com/app/374320/DARK_SOULS_III/"><ion-button color="success">Veja mais</ion-button></a>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>

        <ion-card>
          <img src="assets/action_adventure/daysgone.jpg" alt="DAYS GONE logo" title="DAYS GONE" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <a href="https://www.playstation.com/pt-br/games/days-gone-ps4/"><ion-button color="success">Veja mais</ion-button></a>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
      </div>
        
      <div class="col-md-5">
        <ion-card>
          <img src="assets/action_adventure/farcry5.jpg" alt="FARCRY 5 logo" title="Far Cry 5 " class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <a href="https://store.steampowered.com/app/552520/Far_Cry_5/"><ion-button color="success">Veja mais</ion-button></a>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
        
        <ion-card>
          <img src="assets/action_adventure/gta5.jpg" alt="GTA 5 logo" title="GTA IV" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <a href="https://store.steampowered.com/app/552520/Far_Cry_5/"><ion-button color="success">Veja mais</ion-button></a>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
      </div>
  
      <div class="col-md-5">
        <ion-card>
          <img src="assets/action_adventure/horizonzerodanw.jpg" alt="HORIZON ZERO DAWN logo" title="HORIZON ZERO DAWN" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <a href="https://www.playstation.com/en-ae/games/horizon-zero-dawn-ps4/"><ion-button color="success">Veja mais</ion-button></a>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
        
        <ion-card>
            <img src="assets/action_adventure/reddead2.jpg" alt="RED DEAD REDEMPTION 2 logo" title="RED DEAD REDEMPTION II" class="tamImage img-fluid">
            <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <a href="https://www.rockstargames.com/reddeadredemption2/"><ion-button color="success">Veja mais</ion-button></a>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
      </div>
  
      <div class="col-md-5">
        <ion-card>
          <img src="assets/action_adventure/thewitcher3.jpg" alt="THE WITCHER 3 logo" title=" THE WITCHER III" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <a href="https://thewitcher.com/pt-br/witcher3"><ion-button color="success">Veja mais</ion-button></a>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
        
        <ion-card>
          <img src="assets/action_adventure/assassinscreed3.jpg" alt="ASSASSIN'S CREED III logo" title="ASSASSIN'S CREED III" class="tamImage img-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <a href="https://store.steampowered.com/app/208480/Assassins_Creed_III/"><ion-button color="success">Veja mais</ion-button></a>
            </div>
            <div class="col-md-4"></div>
          </div>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
